{% extends 'layout.html.twig' %}

{% block body %}
  {% if username %}
    <div class="alert alert-success alert-dismissible container d-flex justify-content-between fade show"
      role="alert">
      <p>
        Login Successfull, Aloha
        {{ username }}
        !
      </p>

      <button type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close">

      </button>
    </div>
    {# <div class="alert alert-success" role="alert">{{ role }}</div> #}
  {% endif %}

  <div class="section1">
    <img src="https://i.pinimg.com/originals/8b/4c/f5/8b4cf55476f5d9a662c23362a9d2a1ed.jpg" />
  </div>
  <div class="home__heading">
    <h4 class="p-4">
      RECENT BLOGS
    </h4>
  </div>
  <div class="section2 container d-flex justify-content-evenly flex-wrap">
    {% for r in result %}
      <div class="m-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ r.image }}" alt="Card image cap" />

          <div class="card-body">
            <h5 class="card-title">
              {{ r.title }}
            </h5>
            <p class="card-text">
              {{ (r.body|slice(0, 120)) ~ '...' }}
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="topicWise__container mt-4">
    <div class="home__heading">
      <h4 class="p-4">
        FOOD BLOGS
      </h4>
    </div>
    <div class="section3 p-4 d-flex justify-content-evenly flex-wrap">
      {% for r in topicResult %}
        <div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="{{ r.image }}"
              alt="Card image cap" />

            <div class="card-body">
              <h5 class="card-title">
                {{ r.title }}
              </h5>
              <p class="card-text">
                {{ (r.body|slice(0, 120)) ~ '...' }}
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
